.group-deployer {
  display: flex;
  padding-right: 0.5em;
  deploy {
    flex-grow: 0;
  }
  .spawn-group {
    flex-grow: 1;
  }
}

.expand-wrapper {
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  height: auto;
}

.collapsed {
  max-height: 0 !important;
}