ion-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-button {
    margin-left: 1em;
  }
}

.controls {
  display: flex;
  align-items: center;
  ion-avatar {
    margin-right: 1em;
  }
}