<ion-card>
  <ion-card-header>
    <ion-card-title>
      {{ data.monsters[uid].name }}
      <ion-icon *ngIf="collapse" name="chevron-down-outline" (click)="toggleCollapse()"></ion-icon>
      <ion-icon *ngIf="!collapse" name="chevron-up-outline" (click)="toggleCollapse()"></ion-icon>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="!collapse">
    <div class="controls">
      <ion-avatar>
        <img [src]="data.getPortrait(data.monsters[uid].portrait)">
      </ion-avatar>
      <ion-button (click)="edit()">Edit</ion-button>
      <ion-button (click)="delete()" color="danger">Delete</ion-button>  
    </div>
    <div>
      Stats
      <ion-item>
        AC {{ data.monsters[uid].ac }}
      </ion-item>
      <ion-item>
        {{ data.monsters[uid].maxHP }} HP
      </ion-item>
      <ion-item>
        <a *ngIf="data.monsters[uid].url" [href]="data.monsters[uid].url" target="_blank">Link</a>
      </ion-item>
    </div>
    <div>
      <div>Attacks ({{ data.monsters[uid].numAttacks }} per round)</div>
      <ion-item *ngFor="let attack of data.monsters[uid].attacks">
        {{ attack.name }}:
        +{{ attack.bonus }}, {{ attack.medianDamage }} dmg, ({{ attack.dice }})
      </ion-item>  
    </div>
  </ion-card-content>
</ion-card>