<ion-card *ngIf="display === 'card'">
  <ion-card-header>
    <ion-card-title>{{ monster.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div>
      Stats
      <ion-item>
        AC {{ monster.ac }}
      </ion-item>
      <ion-item>
        {{ monster.maxHP }} HP
      </ion-item>
    </div>
    <div>
      Attacks
      <ion-item *ngFor="let attack of monster.attacks">
        {{ attack.name }}: +{{ attack.bonus }}, {{ attack.medianDamage }} dmg, ({{ attack.dice}})
      </ion-item>  
    </div>
  </ion-card-content>
</ion-card>