.avatar-frame {
  position: relative;
  width: 48px;
  height: 70px;
  .picture-layer img {
    position: absolute;
    left: 2px;
    top: 10px;
    object-fit: cover;
    border-radius: 50%;
    width: 46px;
    height: 46px;
  }
  .frame-layer {
    background: url('/assets/Sm-Frame.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 68px;
  }
  .shield-layer {
    background: url('/assets/Sm-AC.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0px;
    left: 20%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: black;
    line-height: 22px;
    text-align: center;
  }
}

.avatar-frame.large {
  position: relative;
  width: 82px;
  height: 112px;
  .picture-layer img {
    position: absolute;
    left: 2px;
    top: 16px;
    object-fit: cover;
    border-radius: 50%;
    width: 74px;
    height: 74px;
  }
  .frame-layer {
    background: url('/assets/LG-Frame.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 81px;
    height: 94px;
  }
  .shield-layer {
    background: url('/assets/LG-AC.svg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    bottom: 0px;
    left: 18px;
    width: 42px;
    height: 42px;
    color: black;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
  }
}