<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="combat">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Combat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="encounters">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Encounters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="monsters">
      <ion-icon name="square"></ion-icon>
      <ion-label>Monsters</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="party">
      <ion-icon name="square"></ion-icon>
      <ion-label>Party</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="overlay">
      <ion-icon name="square"></ion-icon>
      <ion-label>Overlay</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
