<ion-item [class]="initiative() ? 'highlight': ''">
  <ion-avatar>
    <img [src]="data.imageContent[thumbnailKey]" [class]="initiative() ? 'initiative' : 'normal'">
  </ion-avatar>
  <ion-label>
    <div class="group-flex">
      <div class="group-content">
        <div
          class="standees"
          *ngFor="let combatant of group.combatants | keyvalue">
          <standee
            [bars]="!data.isDm()"
            [combatant]="combatant.value"></standee>
          <ion-button (click)="showCombatPopover(combatant.key)" color="danger">Damage</ion-button>
          <ion-button *ngIf="data.isDm()" (click)="remove(combatant.key)">Remove</ion-button>
        </div>
      </div>
      <div class="attacks">
        <div *ngIf="showAttacks()">
          <div>Attacks: {{ data.monsters[group.uid].numAttacks }}</div>
          <div *ngFor="let attack of data.monsters[group.uid].attacks">
            {{ attack.name }}: +{{ attack.bonus }}, {{ attack.medianDamage }} dmg, {{ attack.dice }}
          </div>
          <div *ngIf="data.monsters[group.uid].notes">
            {{ data.monsters[group.uid].notes }}
          </div>
          <div *ngIf="data.monsters[group.uid].url">
            <a [href]="data.monsters[group.uid].url" target="_blank">Link</a>
          </div>
        </div>
      </div>
    </div>
  </ion-label>
</ion-item>
