ion-label {
  margin-left: 1em;
}

.group-content {
  display: flex;
  align-items: flex-start;
  div {
    margin-right: 1em;
  }
}

ion-avatar {
  width: 4em;
  height: 4em;
  border: 3px solid #FFFFFF88;
}