<ion-item>
  <ion-avatar>
    <img src="https://firebasestorage.googleapis.com/v0/b/combatcaster-28379.appspot.com/o/82aae39a?alt=media&token=0d3f95ab-18a6-493c-bf2f-50a8b50a4963">
    <!--img [src]="data.getPortrait(group.portrait)"-->
  </ion-avatar>
  <ion-label>
    <div class="group-content">
      <div
        class="standees"
        *ngFor="let combatant of group.combatants | keyvalue">
        <standee
          [combatant]="combatant.value"
          (click)="showCombatPopover(combatant.key)"></standee>
        <ion-button (click)="remove(combatant.key)">Remove</ion-button>
      </div>
      <div class="attacks" 
        *ngIf="group.type === 'monster' && group.initiative == data.combat.initiative">
        <h3>Attacks: {{ data.monsters[group.uid].numAttacks }}</h3>
        <div *ngFor="let attack of data.monsters[group.uid].attacks">
          {{ attack.name }}: +{{ attack.bonus }}, {{ attack.medianDamage }} dmg, {{ attack.dice }}
        </div>
      </div>
    </div>
  </ion-label>
</ion-item>
