.highlight {
  transform: scale(1.05, 1.05);
  --background: var(--ion-color-medium);
  color: var(--ion-color-medium-contrast);
}

ion-label {
  margin-left: 1em;
}

.group-flex {
  display: flex;
  align-items: flex-start;
}

.group-content {
  display: flex;
  align-items: flex-start;
  width: 50%;
  max-width: 50%;
  div {
    margin-right: 1em;
  }
}

ion-avatar {
  width: 4em;
  height: 4em;
  .normal {
    border: 3px solid #FFFFFF88;
  }  
  .initiative {
    border: 3px solid #FFFFFFCC;
  }
}