<ion-item>
  <ion-avatar>
    <img [src]="data.getPortrait(group.portrait)">
  </ion-avatar>
  <ion-label>
    <div class="group-content">
      <div class="standees">
        <standee
        *ngFor="let combatant of group.combatants | keyvalue" 
        [combatant]="combatant.value"
        (click)="showCombatPopover(combatant.key)"></standee>
      </div>
      <div class="attacks" 
        *ngIf="group.type === 'monster' && group.initiative == data.combat.initiative">
        <h3>Attacks: {{ data.monsters[group.uid].numAttacks }}</h3>
        <div *ngFor="let attack of data.monsters[group.uid].attacks">
          {{ attack.name }}: +{{ attack.bonus }}, {{ attack.medianDamage }} dmg, {{ attack.dice }}
        </div>
      </div>
    </div>
  </ion-label>
</ion-item>
