.thumbnail {
  display: inline-block;
}

.portrait {
  width: 200px;
  display: inline-block;
}

.stats {
  display: flex;
  flex-direction: row;
  ion-input {
    width: 5em;
    margin-right: 1em;
  }
}