<ion-card>
  <ion-card-header>
    <img [src]="data.imageContent[thumbnailKey]" class="thumbnail"/>
    <img [src]="data.imageContent[portraitKey]" class="portrait"/>
    <ion-card-title>{{ data.party[uid].name }}</ion-card-title>
    <i>{{ data.users[uid].displayName }}</i><br/>
    <div class="stats">
      <div>
        <ion-label stacked>AC</ion-label>
        <ion-input 
          type="number" 
          class="stat" 
          [(ngModel)]="data.party[uid].ac"
          (change)="statChange($event)"></ion-input>
      </div>
      <div>
        <ion-label stacked>Current HP</ion-label>
        <ion-input
          type="number"
          class="stat"
          [(ngModel)]="data.party[uid].currentHP"
          (change)="statChange($event)"></ion-input>
      </div>
      <div>
        <ion-label stacked>Max HP</ion-label>
        <ion-input
          type="number"
          class="stat"
          [(ngModel)]="data.party[uid].maxHP"
          (change)="statChange($event)"></ion-input>
      </div>
    </div>
    <ion-button (click)="sync()">Sync</ion-button>
    <ion-input type="file" (change)="uploadPortrait($event)" [disabled]="data.uploadTask"></ion-input>
    <ion-progress-bar *ngIf="data.uploadTask" [value]="data.uploadPercentage"></ion-progress-bar>

  </ion-card-header>
  <ion-card-content>
    AC: {{ data.party[uid].ac }}
    HP: {{ data.party[uid].currentHP }} / {{ data.party[uid].maxHP }}
  </ion-card-content>
</ion-card>