.standee {
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  background-color: darkblue;
  .header {
    display: flex;
    justify-content: space-between;
    .name {
      font-size: larger;
      font-weight: bold;
    }
  }
  min-width: 8em;
}