.standee {
  max-width: 10em;
  .name {
    font-weight: bold;
    font-size: 1.25em;
  }
  .stat-line {
    display: flex;
    align-items: center;
    ion-icon {
      flex-shrink: 0;
      font-size: 1.25em;
    }
    .ac-stat {
      margin-left: 0.1em;
      margin-right: 0.25em;
      flex-shrink: 0;
    }
    health-bar {
      width: 15em;
    }
  }
}