<ion-header>
  <ion-toolbar>
    <ion-title>Combat: Initiative {{ data.combat.initiative }}</ion-title>
    <ion-buttons *ngIf="data.isDm()" slot="end">
      <ion-button (click)="previous()">Previous</ion-button>
      <ion-button (click)="next()">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1>Deployed</h1>
    <ion-list class="groups">
      <combat-group
        *ngFor="let group of data.combat.groups | initiative" 
        [group]="group.value"
        [uid]="group.key">
      </combat-group>
    </ion-list>
  </div>
  <div>
    <div class="staging">
      <h1>Staging</h1>
      <ion-icon *ngIf="collapseStaging" name="chevron-down-outline" (click)="toggleCollapse()"></ion-icon>
      <ion-icon *ngIf="!collapseStaging" name="chevron-up-outline" (click)="toggleCollapse()"></ion-icon>
    </div>
    <div *ngIf="!collapseStaging">
      <div *ngIf="data.combat.encounter && data.isDm()">
        <h3>Encounter: {{ data.combat.encounter.name }}</h3>
        <div *ngFor="let group of data.combat.encounter.groups; index as index">
          <group-deployer [spawngroup]="group" [index]="index"></group-deployer>
        </div>
      </div>
      <h3>Party</h3>
      <div class="player-deployers">
        <player-deployer 
          *ngFor="let player of data.party | keyvalue" 
          [uid]="player.key"></player-deployer>
      </div>
    </div>
  </div>
</ion-content>
