<ion-header>
  <ion-toolbar>
    <ion-title>Combat: Initiative {{ data.combat.initiative }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="data.previousInitiative()">Previous</ion-button>
      <ion-button (click)="data.nextInitiative()">Next</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1>Deployed</h1>
    <ion-list class="groups">
      <combat-group
        *ngFor="let group of data.combat.groups | initiative" 
        [group]="group.value"
        [uid]="group.key">
      </combat-group>
    </ion-list>
  </div>
  <div>
    <h1>Staging</h1>
    <div>
      <h3>Party</h3>
      <player-deployer 
        *ngFor="let player of data.party | keyvalue" 
        [uid]="player.key"></player-deployer>
      <div *ngIf="data.combat.encounter">
        <h3>Encounter: {{ data.combat.encounter.name }}</h3>
        <div *ngFor="let group of data.combat.encounter.groups | keyvalue; index as index">
          <group-deployer [spawngroup]="group.value" [index]="index"></group-deployer>
        </div>
      </div>
   </div>
  </div>
</ion-content>
